:root {
    --cyan: #39918c;
    --sand: #d0b49f;
    --brick: #AB6B51;
    --cornflower: #2f435a;
    font-family: 'Nunito';
    box-sizing: border-box;
}

/* Generic */

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

button {
    width: 150px;
    height: 30px;
    margin: 20px 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--cornflower);
    color: rgb(255, 255, 255, 0.85);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
}


/* Sidebar */

.sidebar {
    background-color: var(--cyan);
}

.sidebar .title-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.sidebar .error-message {
    font-weight: bold;
    color: darkred;
}

.sidebar .error-message::before {
    content: '* ';
}

form.add-book {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;
    margin: 20px 40px;
}

form.add-book label {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

form.add-book input:not([type="checkbox"]) {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

form.add-book input:not([type="checkbox"]):focus,
form.add-book input:not([type="checkbox"]):focus-visible {
    outline: 3px solid var(--cornflower);
}

input[type="checkbox"] {
    margin-left: 5px;
    height: 2em;
    width: 2em;
    border: 0.15em solid var(--cornflower);
    border-radius: 0.15em;
    appearance: none;
    background-color: var(--cornflower);
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-size: cover;
    padding: 4px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23ffffff" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}

/* Library */

.library {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--brick);
}

.button-container {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
}

.card-container {
    height: 100%;
    margin: 20px;
    padding: 20px;
    background-color: var(--sand);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.book-card {
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: 1fr 4fr;
    background-color: var(--brick);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.book-card p {
    margin: 0;
}

.book-card p.card-label {
    font-style: italic;
}

.book-card button {
    margin: 2px;
    width: 50%;
    min-height: fit-content;
    font-size: 14px;
}

.book-card:hover,
.book-card:focus,
.book-card:focus-visible {
    outline: 4px solid var(--cornflower);
}

.book-card input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
}

